.App {
  overflow: scroll; 
} 

/*APP CSS*/

.app-title-block {
  display: flex;
  align-items: center;
  color: white;
}
.app-title {
  text-shadow: 3px 3px 0 teal;
}

.app-title-header {
  font-size: 140px;
  font-weight: bolder;
}
.app-title-footer {
  margin: 0;
  font-size: 2rem;
}
.login-msg {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.login-msg p{
  text-shadow: 0 0 0 teal;
  font-size: 1.2rem;
  font-weight: 300;
}

/*LOGIN CSS*/
.form-control {
  min-height: 41px;
  background: #fff;
  box-shadow: none !important;
  border-color: #e3e3e3;
}
.form-control:focus {
  border-color: #70c5c0;
}
.form-control,
.btn {
  border-radius: 3px;
}
.login-form {
  margin: 0 auto;
  padding: 150px 30px;
}
.login-form form {
  color: #7a7a7a;
  border-radius: 2px;
  margin-bottom: 15px;
  font-size: 13px;
  background: #ececec;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  padding: 30px;
  position: relative;
}
.login-form h2 {
  font-size: 22px;
  margin: 35px 0 25px;
}
.login-form .avatar {
  position: absolute;
  margin: 0 auto;
  left: 0;
  right: 0;
  top: -50px;
  width: 95px;
  height: 95px;
  border-radius: 50%;
  z-index: 9;
  background: #70c5c0;
  padding: 15px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
}
.login-form .avatar img {
  width: 100%;
}
.login-form input[type="checkbox"] {
  position: relative;
  top: 1px;
}
.login-form .btn,
.login-form .btn:active {
  font-size: 16px;
  font-weight: bold;
  background: #70c5c0 !important;
  border: none;
  margin-bottom: 20px;
}
.login-form .btn:hover,
.login-form .btn:focus {
  background: #50b8b3 !important;
}
.login-form a {
  color: #5cd3b4;
  text-decoration: underline;
}
.login-form a:hover {
  text-decoration: none;
}
.login-form form a {
  color: #5cd3b4;
  text-decoration: underline;
}
.login-form form a:hover {
  text-decoration: none;
  color: #3366bb;
}
.login-form .bottom-action {
  font-size: 14px;
}

/* .login-form .forgot-password{
  color: #5cd3b4;
  text-decoration: underline;
} */

/*SIGNUP CSS*/
.signup-form {
  margin: 0 auto;
  padding: 150px 30px;
  /* padding: 30px 0; */
}
.signup-form h2 {
  font-size: 25px;
  margin: 0 0 20px 0;
  display: inline-block;
  padding: 0 30px 10px 30px;
  border-bottom: 3px solid #5cd3b4;
}
.signup-form form {
  color: #999;
  border-radius: 3px;
  margin-bottom: 15px;
  background: #fff;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  padding: 30px;
}
.signup-form .form-group row {
  margin-bottom: 20px;
}
.signup-form label {
  font-weight: normal;
  font-size: 14px;
  line-height: 2;
}
.signup-form input[type="checkbox"] {
  position: relative;
  top: 1px;
}
.signup-form .btn {
  font-size: 16px;
  font-weight: bold;
  background: #5cd3b4;
  border: none;
  margin-top: 20px;
  min-width: 140px;
}
.signup-form .btn:hover,
.signup-form .btn:focus {
  background: #41cba9;
  outline: none !important;
}
.signup-form a {
  color: #5cd3b4;
  text-decoration: underline;
}
.signup-form a:hover {
  text-decoration: none;
}
.signup-form form a {
  color: #5cd3b4;
  text-decoration: none;
}
.signup-form form a:hover {
  text-decoration: underline;
}
.lowertext {
  text-shadow: 1px 1px 0 teal;
  color: white;
}

/*PRIVACY AND TERMS OF USE CSS*/
.privacypolicy,
.termsofuse,
.forgotpassword {
  background: #fff;
  width: 500px;
  margin: 0 auto;
  margin-top: 5%;
  padding: 150px 30px;
  margin-bottom: 10%;
}
.privacypolicy h1,
.termsofuse h1,
.forgotpassword h1 {
  color: #7a7a7a;
  margin-top: -20%;
}

/* ERROR PAGE CSS */
#layoutError {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
#layoutError #layoutError_content {
  min-width: 0;
  flex-grow: 1;
}
.img-error {
  max-width: 20rem;
}
.lead {
  font-size: 1.25rem;
  font-weight: 400;
  color: white;
}
.lead_sec {
  font-weight: 500;
  color: #5cd3b4;
}

#layoutError a:hover {
  text-decoration: underline;
  color: #5cd3b4;
}

/* FORGOT PASSWORD CSS */
#layoutAuthentication {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
#layoutAuthentication #layoutAuthentication_content {
  min-width: 0;
  flex-grow: 1;
}
